<header>
 
      <div ng-controller="NavbarCtrl" class="navbar-fixed-top" ><!---class="navbar-fixed-top  main-header" -->
        <div class="main-header"><a><img src="images/tcbrand.png" style="width:140px;height:50px" alt="logo"></a>
        </div><div class="row"><br>
              <div class="col-xs-2"></div>
              <div class="col-xs-8"></div>
          <div class="col-xs-2">{{ getCurrentUser().name }}</div>
              </div>
      </div>
        
</header>
   

<div class="col-sm-5">

<div class="container">
  <br><br>
  <div class="row" ng-show="!isLoggedIn()">
  <br>
    <h2>Please Log in or Sign up to use Time Cloud</h2>
    <a href="/login" style="color:#27ab8b">Log In</a> OR <a href="/signup" style="color:#27ab8b">Sign Up</a>
  </div>
  <div class="row" ng-show="isLoggedIn()">



<!-- SIDE NAV --> 
<div id="container" style="width:100%;" ng-controller="NavbarCtrl">
                      
    <nav class="sidenav" style="width:8.5%">
     <img src="images/tcbrand-transparent.png" style="width:100%" alt="logo">
      <a href="/"><img src="images/icons_projects.png" alt="projects-icon" style="width:70%">Projects</a>
      <a href="/summary"><img src="images/icons_profile.png" alt="profile-icon" style="width:70%;"><br>Summary</a>
      <a href="/settings"><img src="images/icon_settings.png" alt="setting-icon" style="width:70%;">Settings</a>
      <span ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}"><a href="" ng-click="logout()"><img src="images/icons_logout.png" alt="setting-icon" style="width:70%"><br>Logout</a></span>
        
      <div class="sidenav-icon"><img src="images/tcclock.png" alt="icon" style="width:90%"> </div>
    </nav> 
</div>

<div class="row">
<div class="col-sm-1"></div>
    
<div class="col-sm-2">

<br><br> 
<button type="button" class="btn btn-custom">  <span class="package">Work Package Defined</span><br>
                    <span class="event">Event 1</span><i class="fa fa-check-square-o" aria-hidden="true"></i>
</button>
 <button type="button" class="btn btn-custom">  <span class="package">Work Package Defined</span><br>
                    <span class="event">Event 2</span> <i class="fa fa-check-square-o" aria-hidden="true"></i>
</button>
 <button type="button" class="btn btn-custom">  <span class="package">Work Package Defined</span><br>
                    <span class="event">Event 3</span> <i class="fa fa-check-square-o" aria-hidden="true"></i>
</button>
 <button type="button" class="btn btn-custom">  <span class="package">Work Package Defined</span><br>
                    <span class="event">Event 4</span> <i class="fa fa-check-square-o" aria-hidden="true"></i>
</button>
 <button type="button" class="btn btn-custom">  <span class="package">Work Package Defined</span><br>
                    <span class="event">Event 5</span><i class="fa fa-check-square-o" aria-hidden="true"></i>
</button>
 <button type="button" class="btn btn-custom">  <span class="package">Work Package Defined</span><br>
                    <span class="event">Event 6</span><i class="fa fa-check-square-o" aria-hidden="true"></i>
</button>
 <button type="button" class="btn btn-custom">  <span class="package">Work Package Defined</span><br>
                    <span class="event">Event 7</span> <i class="fa fa-check-square-o" aria-hidden="true"></i>
</button>
 <button type="button" class="btn btn-custom">  <span class="package">Work Package Defined</span><br>
                    <span class="event">Event 8</span><i class="fa fa-check-square-o" aria-hidden="true"></i>
</button>

</div>

    <div class="col-xs-12 col-sm-8 " ng-controller="NavbarCtrl">
      <h3 class="page-header hidden-print">Add new entry</h3>
      <form class="hidden-print" name="newEntryForm" ng-submit="addEntry(newEntryForm)">

            <div class="col-xs-12 col-sm-3 hidden-print">
             <div class="form-group">
              Select Work Package:
              <div class="input-group">
              <select class="form-control" ng-model="newEntry.project" ng-options="item for item in project" ng-required="true"></select>
              </div>  
           </div>
      </div>

      
      <div class='col-sm-4'>
        <div class="form-group">
          Date:
          <div class="input-group ">
             <input type="text" class="form-control" datepicker-popup="dd MMM yyyy" ng-model="newEntry.date" is-open="newEntry.datePickerOpened" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openDatePicker($event, newEntry)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
          </div>
        </div>
      </div>

      <div class='col-sm-4'>
        <div class="form-group">
          Hours:
          <div class="input-group">
            <input class="form-control" type="number" ng-model="newEntry.hours" ng-required="true" min="0" max="24" step="0.5"/>
          </div>
        </div>
      </div>

      <div class='col-sm-10'>
        <div class="form-group">
          Notes:
          <div class="">
            <textarea class="form-control" ng-model="newEntry.desc" ng-required="true"></textarea>
          </div>
        </div>
      </div>
      <div class='col-sm-2'>
        <div class="form-group">
          &nbsp;
          <div class="input-group ">
            <button class="btn btn-primary" type="submit" style="background-color:#27ab8b">ADD</button>
          </div>
        </div>
      </div>
      </form>
    </div>
    <div class="row clearfix"></div>
  
      <div class="col-sm-8">

      <h3 class="page-header">Work Entries</h3>

      <form name="editEntryForm">
      <alert ng-show="!editEntryForm.$valid" type="danger">Please review your work entry. All fields are required, hours must be in 0-24 range.</alert>
      <ul class="list-group">
        <li class="list-group-item single-entry {{entry.colorClass}}" ng-repeat="entry in getFilteredEntries() | orderBy:'date'" ng-class="{'edit-mode':entry.editMode }">

          <span ng-if="!entry.editMode">
            <strong>{{entry.date | date:'dd MMM yyyy'}}</strong> - {{entry.hours}} hours<br>
            <span><strong>Work Package:</strong> {{entry.project}}</span><br>          
            <span class="text-muted">{{entry.desc}}</span>
          </span>

          <span ng-if="entry.editMode" class="start-edit-mode" ng-class="{'animate-edit-mode':entry.editMode }">
            <div class='col-sm-4'>
              <div class="form-group">
                Date:
                <div class="input-group ">
                  <input type="text" class="form-control" datepicker-popup="dd MMM yyyy" ng-model="entry.date" is-open="entry.datePickerOpened" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openDatePicker($event, entry)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
                </div>
              </div>
            </div>
            <div class='col-sm-4'>
              <div class="form-group">
                Hours:
                <div class="input-group">
                  <input class="form-control" type="number" ng-model="entry.hours" ng-required="true" min="0" max="24" step="0.5"/>
                </div>
              </div>
            </div>
            <div class='col-sm-8'>
              <div class="form-group">
                Notes:
                <div class="">
                  <textarea class="form-control" ng-model="entry.desc" ng-required="true"></textarea>
                </div>
              </div>
            </div>
          </span>

          <a ng-click="updateEntry(entry, editEntryForm);" ng-if="entry.editMode" class="positive-green"><span class="glyphicon glyphicon-ok pull-right entry-action" ></span></a>
          <a ng-click="revertChanges(entry);" ng-if="entry.editMode"><span class="glyphicon glyphicon-chevron-left pull-right entry-action"></span></a>
          <a ng-click="deleteEntry(entry);" ng-if="!entry.editMode" class="trash"><span class="glyphicon glyphicon-trash pull-right entry-action"></span></a>
          <a ng-click="switchToEdit(entry)" tooltip="{{entry._id}}" ng-if="!entry.editMode"><span class="glyphicon glyphicon-edit pull-right entry-action"></span></a>

        </li>
      </ul>
      </form>
    </div>
  </div>
</div>

</div>
</div>



