<header>
  
      <div ng-controller="NavbarCtrl" class="navbar-fixed-top" ><!---class="navbar-fixed-top  main-header" -->
        <div class="main-header"><a><img src="images/tcbrand.png" style="width:140px;height:50px" alt="logo"></a>
        </div><div class="row"><br>
              <div class="col-xs-2"></div>
              <div class="col-xs-8"></div>
          <div class="col-xs-2">{{ getCurrentUser().name }}</div>
              </div>
      </div>
         
</header>
<br><br>

<!-- SIDE NAV -->
<div id="container" style="width:100%;" ng-controller="NavbarCtrl">   
                      
    <nav class="sidenav" style="width:8.5%">
     <img src="images/tcbrand-transparent.png" style="width:100%" alt="logo">
      <a href="/"><img src="images/icons_projects.png" alt="projects-icon" style="width:70%">Projects</a>
      <a href="/summary"><img src="images/icons_profile.png" alt="profile-icon" style="width:70%;"><br>Summary</a>
      <a href="/settings"><img src="images/icon_settings.png" alt="setting-icon" style="width:70%;">Settings</a>
      <span ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}"><a href="" ng-click="logout()"><img src="images/icons_logout.png" alt="setting-icon" style="width:70%"><br>Logout</a></span>
      
        
      <div class="sidenav-icon"><img src="images/tcclock.png" alt="icon" style="width:90%"> </div>
    </nav> 
</div>

<div class="container">
  <div class="row" ng-show="!isLoggedIn()">
    <h2>Please log in to use Time Cloud</h2>
  </div>
  <div class="row" ng-show="isLoggedIn()">

<div class="col-sm-1">MAKE ROOM</div>

    <div class="col-xs-12 col-sm-3 hidden-print">
      <h3 class="page-header">Filter Entries</h3>
      <div class="form-group">
        From:
        <div class="input-group ">
          <input type="text" class="form-control" ng-change="filterEntries()" datepicker-popup="dd MMM yyyy" ng-model="filter.dateFrom.date" is-open="filter.dateFrom.datePickerOpened" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openDatePicker($event, filter.dateFrom)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
        </div>
      </div>
      <div class="form-group">
        To:
        <div class="input-group ">
          <input type="text" class="form-control" ng-change="filterEntries()" datepicker-popup="dd MMM yyyy" ng-model="filter.dateTo.date" is-open="filter.dateTo.datePickerOpened" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openDatePicker($event, filter.dateTo)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
        </div>
      </div>

    </div>
    <div class="row clearfix"></div>
    <div class="col-sm-6">
      <h1 class="page-header">Work Summary</h1>

      <ul class="list-group">
        <li class="list-group-item single-entry {{entry.colorClass}}" ng-repeat="entry in filteredEntries | orderBy:'date'" ng-class="{'light-green':entry.totalHours >= prefHours, 'light-red':entry.totalHours < prefHours}">
          <span>
            <strong>{{entry.date | date:'dd MMM yyyy'}} - {{entry.totalHours}} hours in total</strong><br>
            <ul class="subEntryList">
              <li class="subEntry" ng-repeat="subEntry in entry.entries">
                {{subEntry.hours}} h - {{subEntry.desc}}
              </li>
            </ul>

          </span>
        </li>
      </ul>
    </div>
  </div>
</div>



